body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
}


.divider {
    width: 1px;
    background-color: #000;
}
